@charset "utf-8";
/* CSS Document */


#header > .user {
	background-color:#cc4292 !important;
	border-bottom:1px solid #951d59;
}
#header > .user img {
	float:left;
	width:50px;
	height:50px;
	margin:10px;
}
#header > .user h1 {
	float:left;
	font-size:20px;
	line-height:70px;
	color:#000;
}
#header > .user p {
	float:right;
	color:#FFF;
	font-size:14px;
	line-height:20px;
	margin:44px 10px 0px;
}
#header > #nav {
	background-color:#cc4292;
	padding:6px 0px;
}
#header > #nav dl {
	width:33.33%;
	float:left;
}
#header > #nav dl:nth-child(2) {
	border-left:1px solid #951d59;
	border-right:1px solid #951d59;
}
#header > #nav dl dt {
	color:#FFF;
	font-size:20px;
	text-align:center;
	line-height:24px;
}
#header > #nav dl dd {
	color:#FFF;
	font-size:14px;
	text-align:center;
	line-height:24px;
}
#section > .order,#section > .mark {
	border-bottom:1px solid #dadada;
	background-color:#FFF;
	margin:10px 0px;
}
#section > .order .figure,#section > .order > .ordernav,#section > .mark figure {
	border-top:1px solid #dadada;
}
#section > .order .figure > img,#section > .mark figure img {
	float:left;
	height:20px;
	margin:11px 10px;
}
#section > .order .figure > h2,#section > .mark figure h2 {
	float:left;
	line-height:44px;
	font-size:16px;
	color:#000;
	font-weight:normal;
}
#section > .order .figure > figcaption,#section > .mark figure > figcaption {
	float:right;
}
#section > .order .figure > figcaption img,#section > .mark figure > figcaption img {
	height:16px;
	margin:14px 10px;
	float:right;
}
#section > .order .figure > figcaption p,#section > .mark figure > figcaption p {
	float:right;
	line-height:44px;
	color:#909090;
	font-size:14px;
}
#section > .order > .ordernav figure {
	width:33.33%;
	float:left;
}
#section > .order > .ordernav figure img {
	height:22px;
	margin:8px auto 6px;
}
#section > .order > .ordernav figure h4 {
	text-align:center;
	line-height:30px;
	font-size:14px;
	color:#646464;
	font-weight:normal;
}


@media (min-width:481px) and (max-width:621px) {
	#header > .user h1,#header > #nav dl dt {
		font-size:22px;
	}
	#header > .user p,#header > #nav dl dd,#section > .order > figure > figcaption p, #section > .mark figure > figcaption p,#section > .order > .ordernav figure h4 {
		font-size:16px;
	}
	#section > .order > figure > h2, #section > .mark figure h2 {
		font-size:18px;
	}
}

@media (min-width:622px) {
	#header > .user h1,#header > #nav dl dt {
		font-size:24px;
	}
	#header > .user p,#header > #nav dl dd,#section > .order .figure > figcaption p, #section > .mark figure > figcaption p,#section > .order > .ordernav figure h4 {
		font-size:18px;
	}
	#section > .order > figure > h2, #section > .mark figure h2 {
		font-size:20px;
	}
}


















